<h3>All Categories</h3>
<hr>
<% @categories.each do |category| %>
  <ul class="category_<%=category.id %> col-md-4">
    <li class="list-unstyled">
      <%= link_to category.title, category %><br>
      <div class="btn-group">
        <%= link_to "Edit", edit_category_path(category), class: "btn btn-success" %>
        <%= link_to "Delete", category_path(category), method: "delete", class: "btn btn-danger" %>
      </div>
    </li>
  </ul>
<% end %>
