<h2>All Categories</h2>
<% @categories.each do |category| %>
  <ul class = category_<%=category.id %>>
    <li><%= link_to category.title, category %></li>
    <li><%= link_to "Edit", edit_category_path(category) %></li>
    <li><%= link_to "Delete", category_path(category), method: "delete" %></li>
  </ul>
<% end %>
