<h2><%= @category.title %></h2>
<div class="row">
  <% @category.jobs.each do |job| %>
    <p class="col-md-3"><%= link_to job.title, company_job_path(job.company, job)%> at <%= link_to job.company.name, company_path(job.company) %></p>
  <% end %>
</div>
